.devuelto-parcial td {
    background-color: #a37f00 !important;
    color: #fff !important;
}
/* Venta cancelada o devuelta totalmente → rojo */
.venta-cancelada td,
.venta-devuelta-total td {
    background-color: #a80000 !important;
    color: #fff !important;
}

/* Venta con devolución parcial → amarillo */
.venta-devuelta-parcial td {
    background-color: #a37f00 !important;
    color: #fff !important;
}
